body {
    background-color: dodgerblue;
}

p {
    text-align:center;
    color: rgb(97, 6, 97);
}

h1 {
    text-align: center;
    color: rgb(97, 6, 97);
}

h2 {
    text-align: center;
    color: rgb(97, 6, 97);
}

.textblock{
    text-align: center;
    background-color: orange;
    margin: 10px 300px 10px 300px;
}

.rickroll {
    text-align:center;
    background-color: orange;
    margin: 20px 20px 20px 20px;
}
